<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Portal</title>
    <link rel="stylesheet" th:href="@{site.css}"/>
</head>
<body>
<h1>Welcome to manager portal!</h1>
<a th:href="@{employee/create}"><button>Create Employee</button></a>
<p>list of all current employees</p>
<div class="card" th:each="employee : ${employees}">
    <div class="left">
        <div th:text="${employee.firstName}"></div>
        <div th:text="${employee.lastName}"></div>
        <div th:text="${employee.email}"></div>
        <div th:text="${employee.department}"></div>
    </div>
    <div class="right">
        <a th:href="@{|/employee/${employee.id}|}"><button>View</button></a>
        <button onclick="toggleEditMode(this)">Edit</button>
        <form th:action="@{|/employee/${employee.id}/delete|}" method="post">
            <button class="danger" type="submit">Delete</button>
        </form>
    </div>
    <div class="edit-mode" style="display: none;">
        <form th:action="@{/employee/update}" method="post">
            <input type="hidden" name="id" th:value="${employee.id}">
            <input type="text" name="firstName" th:value="${employee.firstName}">
            <input type="text" name="lastName" th:value="${employee.lastName}">
            <input type="email" name="email" th:value="${employee.email}">
            <input type="text" name="department" th:value="${employee.department}">
            <button type="submit">Save</button>
        </form>
    </div>
</div>
<script th:inline="javascript">
    function toggleEditMode(button) {
        var card = button.closest(".card");
        var viewMode = card.querySelector(".left");
        var editMode = card.querySelector(".edit-mode");
        var rightButtons = card.querySelector(".right");

        if (editMode.style.display === "none") {
            viewMode.style.display = "none";
            editMode.style.display = "block";
            rightButtons.style.visibility = "hidden"; // Hide buttons in edit mode
        } else {
            viewMode.style.display = "block";
            editMode.style.display = "none";
            rightButtons.style.visibility = "visible"; // Show buttons in view mode
        }
    }
</script>


</body>
</html>